.app__destination {
  background-image: url(/src/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app__destination-content {
  width: 80%;
}

.app__destination-content p {
  margin-left: 11rem;
}

.app__destination-content_planet {
  width: 100%;
  margin-bottom: 5%;
}
