/*==================typography=========================*/
.p__barlow {
  font-family: var(--font-base);
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.17rem;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 16px;
}

.subheading__barlow {
  font-family: var(--font-base);
  color: var(--color-tertiary);
  font-weight: 400;
  letter-spacing: 0.15rem;
  line-height: 29.9px;
  font-size: 14px;
  text-transform: uppercase;
}

.textheading__bellefair {
  font-family: var(--font-alt);
  color: var(--color-tertiary);
  font-weight: 400;
  font-size: 150px;
  text-transform: uppercase;
}

.textheading2__bellefair {
  font-family: var(--font-alt);
  color: var(--color-tertiary);
  font-size: 100px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.textheading3__bellefair {
  font-family: var(--font-alt);
  color: var(--color-tertiary);
  font-size: 56px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.textheading4__bellefair {
  font-family: var(--font-alt);
  color: var(--color-tertiary);
  font-size: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.textheading5__barlow {
  font-family: var(--font-base);
  color: var(--color-tertiary);
  font-size: 28px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
